
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}


<div class="content">
    <div class="row text-center">


        <h1> Projeto integrador ENIAC</h1>
        <br /><br /><br /><br /><br /><br /><br />

        <h2>VINÍCIUS MARTINS GRANT RA: 204142019</h2>
        <br />
        <h2>CAMILA CRISTINA P. RODRIGUES COSTA RA: 211702017</h2>






    </div>
</div>